.title {
	text-align: center;
	color: #9b59b6;
	margin-bottom: 25px;
}

.sub {
	text-align: center;
	font-size: 22px;
	margin-bottom: 25px;
	color: #3498db;
}

.list {
	width: 150px;
	height: 100px;
	margin: 0 auto;
	display: block;
}

.list li {
	color: #34495e;
	text-align: center;
	list-style-type: none;
}

#fun {
	text-align: center;
	color: #3498db;
}

h3 {
	text-align: center;
}